{% extends "base.html" %}

{% block main %}

<form method="post">
    <div class="ui inverted segment" style="margin-top:10%; margin-bottom:43%;">
        <div class="ui inverted form">


            <div class="ui center aligned container segment">

                <div class="ui two column grid container">
                    <div class="column">
                        From
                        <div class="ui segment"><h2 class="ui header">{{ticet.countdrop}} {{ticet.coindrop}} </h2></div>
                    </div>
                    <div class="column">
                        To
                        <div class="ui segment"><h2 class="ui header">{{ticet.price}} {{ticet.coinget}}</h2></div>
                    </div>

                </div>

                <div class="ui one column grid container">
                    <div class="column">
                        address for payment
                        <div class="ui segment">{{ticet.addr}}</div>
                    </div>

                </div>


                </div>
                <div class="field">
                    <a type="submit" class="ui submit button" href="/tiket_{{ticet.ticetid}}">Check</a>
                </div>


            </div>

        </div>
    </div>


</form>
{% endblock %}